.wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
    min-width: 300px;
    
}

.contact-form{
    max-width: 550px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 30px;
    background: midnightblue 0.5;
    flex-direction: row;
}

.input-fields{
    display: flex;
    flex-direction: column;

   
}

.input-fields,
.msg{
    
    width: 100%;

}

.input-fields .input,
.msg textarea{
    margin: 10px 0;
    background: transparent;
    border: 0;
    padding: 10px;
    border-bottom: 2px solid  orange;
    color: rgb(201, 201, 201);
    width: 100%;
    max-width: 100%;
}

.msg textarea{
    margin: right;
    width: 100%;
    align-items: center;
}

.title {
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
}

::-webkit-input-placeholder{
    color: rgb(201, 201, 201);
}

.btn {
    background-image: linear-gradient(to right, rgb(30, 32, 128), rgb(69, 146, 218));
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    color: whitesmoke;
    transition: all 500ms ease;
}

.btn:hover{
    background-image:linear-gradient(to right, rgb(61, 185, 113), rgb(36, 131, 57));
    color: whitesmoke;
    font-size: 25px;
}





@media screen and (max-width: 550px) {
   
    .contact-form {
        display: block;
        text-align: center;
        box-shadow: none;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .input-fields, .msg {
        
        text-align: left;
        align-items: center;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 100%;
    }

    }

    @media screen and (max-width: 800px) {

        .contact-form {
            display: block;
            text-align: center;
            box-shadow: none;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
        .input-fields, .msg {
            margin-top: 10px;
            text-align: center;
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
        }
                
            }

    @media screen and (max-width: 400px) {
        .input-fields, .msg {
        
            text-align: left;
            align-items: left;
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            width: 90%;
        }

        .contact-form {
            width: 300px;
         
        }

        .btn {
            margin-left: 10px;
            margin-right: auto;
            align-items: center;
            align-self: center;
            display: block;
        }
    }

       .contact-form {
           width: 325px;
        
       }

       
       @media screen and (max-width: 360px) {
       .input-fields, .msg {
        
        text-align: left;
        align-items: left;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -5px;
        font-size: 10px;
        width: 90%;
    }

    .contact-form {
        width: 250px;
     
    }

}
        