.leaderboard {
    overflow:scroll;
    /* flex-grow:1; */
    width:100%;
  }

 table {
    position: relative;
    border-collapse: collapse;
    width: 100%;
}

/* th{
    background-image: linear-gradient(to right, rgb(25,25,112) ,rgb(38, 70, 156), rgb(95, 196, 243));
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: whitesmoke;
    transition-delay: 90ms;
    transition-property: color;
   left: 0;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   z-index: 2;
   left: 0;
   top: 0;
   bottom: 0;  
} */

thead tr > th {
    
    position: -webkit-sticky;
    position: sticky;
   
    z-index:2;
    top: 0;
  }

  thead tr > :first-child {
    z-index:3;
    left:0;
    top:0;
  }

.table.striped th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    left: 0;
}

tbody tr > :first-child {
    background-color: rgb(49, 47, 47);
    position: sticky;
    z-index:1;
    left:0;
  }

.table.striped th:first-child {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 6;
    left: 0;
}

/* .table.striped td > tr {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 4;
    left: 0; 
} */
/* 
/* .table.striped tr :first-child {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* z-index: 3; */
    /* left: 0;  */
    
    /* background-color: rgb(49, 47, 47);; */
/* } */ 

/* .bg-info tr > :first-child {
    position: sticky;
    z-index:1;
    left:0;
} */


/* 
.bg-info, th {
    background-image: linear-gradient(to right, rgb(25,25,112) ,rgb(38, 70, 156), rgb(95, 196, 243));
}

th:hover{
    color: orange;
    cursor: pointer;
}
tr {
    color: orange;
    transition-delay: 90ms;
    transition-property: color;
    /* overflow: scroll; */
    /* font-size: 10px;
} */


/* td {
    color: whitesmoke;
   
    
}
th {
    font-size: 13.5px;
}
td:hover{
    color: orange;
    cursor: pointer;
}


.bg-info {
    background-color: black;
    color: white;
    /* overflow: scroll; */

/* } */ 


@media screen and (max-width: 770px) {

th {
    font-size: 11px;
}
td {
    font-size: 9.5px;
}

}

@media screen and (max-width: 414px) {

    th {
        font-size: 10.5px;
    }
    td {
        font-size: 9px;
    }

    .table.striped th {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 5;
       
    }

    
    }

    